@import 'config';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    @include backgroundConfig('https://i.postimg.cc/x1N0h6F6/adults-band-concert-988595.jpg');
    color: #fff;
}

.keys{
    min-height: 100vh;
    @include flexCentering;
    // margin-top: 40vh;
    .key{
        height: 100px;
        width: 100px;
        margin: 50px;
        background: rgba(darkgray,0.5);
        border: 3px solid black;
        @include flexCentering;
        flex-direction: column;
        font-weight: bold;
        text-transform: capitalize;
        transition: all 0.07s ease;

        .sound-icon{
            width: 70px;

        }
    }

    kbd{
        font-size: 40px;
    }

    .playing{
        transform: scale(1.1);
        border-color: blue;
        box-shadow: 0 0 10px blue;
    }
}
